---
import CTAButton from "./CTAButton.astro";

interface Props {
  title: string;
  id: string;
  subtitle: string;
  secondTitle?: string;
  schedule?: string;
  text?: string;
  ctaText: string;
  ctaLink: string;
  hideSecondaryButton?: boolean;
  date?: string;
}

const {
  title,
  subtitle,
  secondTitle,
  ctaText,
  ctaLink,
  schedule,
  text,
  id,
  hideSecondaryButton = false,
  date,
} = Astro.props;
---

<div
  class='relative flex w-full min-h-screen px-4 py-4 md:py-16 sm:px-6 lg:px-8 overflow-hidden'
  id={id}
>
  <img
    src='/cover.webp'
    alt='Background cover'
    class='absolute inset-0 object-cover w-full h-full pointer-events-none image-hero opacity-20'
    style='mask-image: linear-gradient(blue 20%, transparent );'
  />
  <div
    class='z-10 flex flex-col items-center gap-8 px-4 text-center sm:px-6 lg:px-8 text-hero md:justify-center'
  >
    <h1 class='font-bold text-white'>
      {title}
    </h1>

    <div>
      <h2 class='span-h1 block'>{date}</h2>
      <h2 class='span-h1 block'>{schedule}</h2>
    </div>

    <h2 class='font-bold text-white'></h2>

    <h2 class='font-extrabold text-white'>
      {secondTitle}
    </h2>

    <h2 class='text-white font-light' style='color:white;'>
      {subtitle}
    </h2>

    {text && <h4>{text}</h4>}

    <div class='flex flex-col items-center justify-center'>
      <CTAButton href={ctaLink} label={ctaText} class='font-bold text-5xl' />
    </div>
  </div>
</div>
