---
interface Props {
  title: string;
  id: string;
  videos: string[];
  screenshots?: string[];
  textTestimonials?: string[];
}

const { title, id, videos, screenshots, textTestimonials } = Astro.props;

import ImageCarousel from "../components/SwiperComponentPhoto";
import VideoTestimonialsCarousel from "../components/VideoTestimonialsCarousel";
---

<section
  id={id}
  class='flex flex-col items-center gap-8 px-4 py-16 mx-auto text-center sm:px-6 lg:px-8 max-w-6xl'
>
  <h2 class='h2-subtitle'>
    {title}
  </h2>

  <!-- {/* Carrusel de Videos de Testimonios */}
  {
    videos && videos.length > 0 && (
      <VideoTestimonialsCarousel videos={videos} client:load />
    )
  } -->

  {
    screenshots && screenshots.length > 0 && (
      <div class='w-full max-w-sm sm:max-w-2xl lg:max-w-4xl'>
        <ImageCarousel images={screenshots} client:load />
      </div>
    )
  }

  {
    textTestimonials && textTestimonials.length > 0 && (
      <div class='flex flex-col gap-4 px-4 py-8 mx-auto max-w-2xl'>
        {textTestimonials.map((testimonial) => (
          <blockquote class='text-lg italic '>💬{testimonial}</blockquote>
        ))}
      </div>
    )
  }
</section>
