---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  hideNav?: boolean;
}

const titleLandingPage = "Mujer Fénix"; // CAMBIAR POR EL NOMBRE DE LA LANDING

const copys = {
  nav: {
    navItems: [
      { label: "Evento", href: "#live-event" },
      { label: "Aprenderás", href: "#you-will-learn" },
      { label: "Conocer más", href: "#learn-more" },
      { label: "Para quién es", href: "#who-is-it-for" },
      { label: "Testimonios", href: "#testimonials" },
      { label: "Quién soy", href: "#about" },
    ],
    ctaLabel: "Unirme",
    ctaHref: "#register",
  },
};

const { title = titleLandingPage, hideNav = false } = Astro.props;

const copyright = `© 2025 Made by <span class='font-extrabold'>${titleLandingPage}</span>`;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <title>{title}</title>

    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta name='description' content='' />

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content='https://mujer-fenix.vercel.app/' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='{title}' />
    <meta property='og:description' content='' />
    <meta
      property='og:image'
      content='https://opengraph.b-cdn.net/production/images/06837a36-34d1-4c1d-92fe-b47dab58c1a8.png?token=7dB8TCIqkC0slPw74yaJo8gUB0KPuQAq2PmEyZH1xVY&height=630&width=1200&expires=33290601149'
    />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='mujer-fenix.vercel.app' />
    <meta property='twitter:url' content='https://mujer-fenix.vercel.app/' />
    <meta name='twitter:title' content='{title}' />
    <meta name='twitter:description' content='' />
    <meta
      name='twitter:image'
      content='https://opengraph.b-cdn.net/production/images/06837a36-34d1-4c1d-92fe-b47dab58c1a8.png?token=7dB8TCIqkC0slPw74yaJo8gUB0KPuQAq2PmEyZH1xVY&height=630&width=1200&expires=33290601149'
    />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <script
      src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js'
      defer></script></head
  >

  <body style='position: relative;'>
    <Nav {...copys.nav} />
    <slot />
    <Footer copyright={copyright} />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  body {
    position: relative;
  }

  main {
    position: relative;
    z-index: 1;
  }
</style>
